T38_Airports.txt
T38_masterdict.xlsx
Evan Test Code/KML_Testbed_SlimCode.py
Evan Test Code/JASU_Testbed.py
DATA/apt_data/APT_RWY.csv
DATA/apt_data/APT_RWY_END.csv
DATA/apt_data/APT_BASE.csv
DATA/afd/CS_SW_20260122.pdf
DATA/afd/CS_SE_20260122.pdf
DATA/afd/CS_SC_20260122.pdf
DATA/afd/CS_PAC_20260122.pdf
DATA/afd/CS_NW_20260122.pdf
DATA/afd/CS_NE_20260122.pdf
DATA/afd/CS_NC_20260122.pdf
DATA/afd/CS_EC_20260122.pdf
DATA/afd/CS_AK_20260122.pdf
DATA/jasu_data.csv
DATA/fuel_data.csv
DATA/flights_data.csv
DATA/comments_data.csv
Alecs Code/utils.py
Alecs Code/temp.py
Alecs Code/T38_PlanAid.py
Alecs Code/requirements.txt
Alecs Code/KML_Generator.py
Alecs Code/JASU_Finder.py
Alecs Code/Data_Downloader.py
Alecs Code/API_Scraper.py
__pycache__/Data_Acquisition.cpython-314.pyc
__pycache__/KML_Generator.cpython-314.pyc
T38_PlanAid.spec
build/T38_PlanAid/Analysis-00.toc
build/T38_PlanAid/base_library.zip
build/T38_PlanAid/EXE-00.toc
build/T38_PlanAid/PKG-00.toc
build/T38_PlanAid/PYZ-00.pyz
build/T38_PlanAid/PYZ-00.toc
build/T38_PlanAid/T38_PlanAid.pkg
build/T38_PlanAid/warn-T38_PlanAid.txt
build/T38_PlanAid/xref-T38_PlanAid.html
build/T38_PlanAid/localpycs/pyimod01_archive.pyc
build/T38_PlanAid/localpycs/pyimod02_importers.pyc
build/T38_PlanAid/localpycs/pyimod03_ctypes.pyc
build/T38_PlanAid/localpycs/pyimod04_pywin32.pyc
build/T38_PlanAid/localpycs/struct.pyc
T38 PlanAid Distribution/wb_list.xlsx
T38 PlanAid Distribution/DATA/comments_data.csv
T38_PlanAid.exe
T38 PlanAid Distribution/DATA/flights_data.csv
T38 PlanAid Distribution/DATA/jasu_data.csv
T38 PlanAid Distribution/DATA/fuel_data.csv
T38 PlanAid Distribution/DATA/afd/CS_AK_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_EC_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_NC_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_NE_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_NW_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_PAC_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_SC_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_SE_20260122.pdf
T38 PlanAid Distribution/DATA/afd/CS_SW_20260122.pdf
T38 PlanAid Distribution/DATA/apt_data/APT_BASE.csv
T38 PlanAid Distribution/DATA/apt_data/APT_RWY_END.csv
T38 PlanAid Distribution/DATA/apt_data/APT_RWY.csv
T38 PlanAid Distribution/KML_Output/T38 Apts 28 Jan 2026.kml
T38_PlanAid.exe
